@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Festive&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
     font-family: 'Ephesis',
      cursive;
      
      max-width:190px;
      max-height:100px;
      margin: auto;
      text-align: center;
      font-size: x-large;
      background-image: url(D:\img_mountains.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      

     
}
.container{
     padding-top: 200px;  
     transition: all 1s ease-in-out;
    
      
}
.title{
     color: black;
     font-size:30px;
     font-weight: 200;
}
.form{
    padding: 20px 0;
    transition: all .5s ease-in-out;
}
.form input{
    outline: 0;
    text-align: center;
    padding: 8px 18px;
    margin-bottom: 12px;
    border-radius: 12px;
    border: hidden;
}
.form input:hover{
        background: rgba(255,255,255,0.3);
}
.form input:focus{
        background-color: white;
        
}
.form button {
        outline: 0;
        border: none;
        padding: 8px 18px;
        width:205px;
        border-radius: 12px;
      
}